#container{
    display: block;
    height: 100px;
    width: 900px;
    padding: 50px;
    margin-left: 300px;
}

button{
    margin-left: 70px;
    width: 200px;
    height: 100px;
    color: white;
    font-size: 20px;
}